body{
    background-image: url(https://wallpapers.com/images/hd/1080p-minimalist-foz7ilj52iy2nq6z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: math;

}
.calculating_details{
    width: 509px;
    height: 563px;
    background-color: #f0f8ff80;
    position: absolute;
    left: 37%;
    top: 5%;
    border-radius: 21px;
    text-align: center;
}
.first_view_buttons{
    position: relative;
    display: flex;
    column-gap: 79px;
    top: 26%;
}
.DorP{
    width: 178px;
    height: 145px;
    border-radius: 39px;
    margin-top: 2px;
    font-size: xx-large;
    background-color: thistle;
    display: flex;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    color: #9198e5;
    border-color: #9198e5;
    background-color: gray;
    visibility: visible;
    margin-left: 29px;
    flex-direction: row;
    cursor: pointer;
}
.DorP:hover{
    color:gray;
    background-color: #9198e5;
}
.same_country_button{
    position: relative;
    top: 21%;
    left: -35%;
    border-radius: 13px;
    width: 109px;
    height: 46px;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    color: rgb(145, 152, 229);
    border-color: rgb(145, 152, 229);
    cursor: pointer;
    font-size: medium;
}
.num_doc_lab{
    position: absolute;
    left: 10%;
    top: 70%;
    font-size: large;
    font-family: math;
}
.num_documents_input{
    width: 160px;
        height: 37px;
        border-radius: 18px;
        position: absolute;
        left: 53%;
        top: 68%;
        font-family: math;
}
.weight_pac_input{
    width: 160px;
        height: 37px;
        border-radius: 18px;
        position: absolute;
    left: 64%;
    top: 68%;
}
.CRIF{
    position: absolute;
    top: 88%;
    left: 50%;
    width: 160px;
    height: 37px;
    border-radius: 18px;
}
.check_docs_price{
    position: absolute;
    top: 86%;
    left: 12%;
    width: 150px;
    height: 60px;
    border-radius: 22px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}